/*body {
	background-color: red;
}*/

* /*общий селектор, все что находится в скобках 
будет применятся ко всему сайту*/ {
	margin: 0; /*внешний отступ, отступ между элементами*/
	padding: 0; /*внутренний отступ, отступ до края блока*/
	box-sizing: border-box; /*модель отображения отступов*/
}

div {
	width: 70%;/*ширина*/
	margin: auto;/*внешний отступ. auto - 
	отцентровывает картинку по горизонтали*/ 
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	/*добавление тени к элементу*/
	padding: 50px; /*внутренний отступ*/
}

img {
	max-width: 1300px; /*Максимальная ширина*/
	height: auto; /*Высота*/
	width: 100%;/*Ширина*/
	display: block; /*блочное отображение элемента*/
	margin: auto; /*внешний отступ. auto - 
	отцентровывает картинку по горизонтали*/ 
}

p {
	font-size: 22px; /*размер шрифта*/
	font-family: Helvetica; /*семейство шрифтов*/
	line-height: 1.65; /*Высота строки*/
}

h1 {
	font-size: 48px;
	font-family: Helvetica;
	text-align: center;/*выравнивание по центру*/
	padding-bottom: 40px; /*внутренний отступ, снизу*/
}